body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    margin: 0px;
}

.white {
    color: white;
}

.banner {
    background-color: rgb(19, 19, 19);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 150px;
    border-radius: 20px;
    padding: 60px 30px;
    margin-bottom: 100px;
}

.banner-header {
    font-size: 100px;
    inline-size: 700px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.sub-text {
    font-size: 25px;
    inline-size: 500px;
    margin-left: 50px;
    margin-top: 0px;
}

.banner-image {
    height: 700px;
    margin-left: 50px;
}

.banner-button {
    display: flex;
    margin-left: 50px;
    background-color: red;
    border-radius: 10px;
    padding: 5px 20px;
}

.banner-button-icon {
    margin-top: 20px;
    margin-left: 10px;
}

#button-text {
    font-size: 20px
}

.footer {
    background-color: rgb(19, 19, 19);
    padding: 100px;
    margin-top: 100px;
}

.footer-top {
    color: whitesmoke;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items:center;
}

.footer-sub {
    color: whitesmoke;
    margin: 50px;
    font-weight: bold;
}

.select-btn {
    display: block;
    background-color: white;
    border-radius: 10px;
    inline-size: 250px;
    justify-content: center;
    margin-bottom: 10px;
}

.side-panel {
    display: grid;
    grid-template-columns: 1fr;
    inline-size: 100px;
    background-color: rgb(19, 19, 19);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 150px;
    width: 250px;
    height: 180px;
    margin-right: 50px;
}

#mid-part {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: block;
    inline-size: 300px;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.card-img {
    width: 300px;
}

.transfer {
    display: block;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
}

.card-text {
    margin-left: 10px;
    margin-right: 10px;
}

.icons {
    display: flex;
}

.icon {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-text {
    margin-right: 20px;
}